<app-commonnav></app-commonnav>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="shop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Millennium Hardware</h1>
        <p class="lead">Millennium Hardware is a cutting-edge hardware solution designed to meet the needs of modern computing environments. It is known for its robust performance, high reliability, and advanced features that cater to both personal and professional use. Millennium Hardware includes state-of-the-art processors, ample storage options, and comprehensive connectivity features, ensuring seamless integration and optimal performance in various applications. Whether for gaming, professional workstations, or enterprise servers, Millennium Hardware stands out as a top choice for those seeking excellence in their hardware solutions.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
        </div>
      </div>
    </div>
  </div>
